.btnMinhChung{
    display: inline-block;
    background-color: var(--third-color);
    border: var(--third-color);
    cursor: pointer;
    color: white;
    transition: background-color 0.3s ease;
}
.btnMinhChung:hover{
    background-color: var(--third-color);
    border: var(--third-color);
    color: white;
}
.btnMinhChung:active{
    background-color: var(--third-color);
    border: var(--third-color);
    color: white;
}