thead{
    background-color: #2A3F54;
    color: white;
}

thead tr th {
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}
tbody tr td {
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom : 1px solid #E6E9ED;
}
table {
    width: 100%;
    border : 1px solid #E6E9ED;
}
ul {
    list-style-type: none;
    padding: 0 !important;
}
.btn-color {
    background-color: #337ab7;
    color: white; 
    margin-top: 10px;
    padding: 10px;
}
.btn-color:hover {
    background-color: #337ab7;
    color: white; 
    margin-top: 10px;
}