@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
:root {
  --primary-color: #337ab7; 
  --secondary-color: #26B99A; 
  --third-color:#e29755;
  --globalFont : Inter, "Helvetica Neue", Roboto, Arial, sans-serif !important;
}

body {
  margin: 0;
  font-family: Inter, "Helvetica Neue", Roboto, Arial, sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
